body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 100px 20px;
}

main {
    padding: 50px 20px;
}

footer {
    margin-top: 100px;
    padding: 20px;
}